@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --btn-primary: #f97316;
    --Nav-bg-primary: #000000;
    --Nav-bg-secondary: #ffffff;
    --Nav-bg-base: #f3f4f6;
    --hover-secondary: #393c42;
    --text-primary: #ffffff;
    --text-secondary: #000000;
    --Nav-text-secondary: #f97316;
    --Nav-border-primary: #212327;
    --Hero-Hover-text: #ffffff;
    --Hero-primary-text: #6b7280;
    ;
    --Hero-secondary-text: #9ca3af;
    --hero-title-text: #4B5563;
    --bg-secondary: #f3f4f6;
    --hero-hover-button: rgba(255, 136, 0, 0.5);
    --hero-secondary-button: rgba(255, 255, 255, 0.15);
    --featured-bg-gradient: linear-gradient(to bottom right, #f8fafc, #f3f4f6);
    --text-Title-secondary: linear-gradient(to right, #111827, #1f2937, #4b5563);
    ;


}


.secondary-title {
    background: var(--text-Title-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured-section-bg {
    background: var(--featured-bg-gradient);
}

.btn-primary {
    background: var(--btn-primary);
}

.hover-button:hover {
    color: var(--btn-primary);
}

.hover-secondary:hover {
    background-color: var(--hover-secondary);
}

.bg-primary {
    background: var(--Nav-bg-primary);
}

.bg-secondary {
    background: var(--Nav-bg-secondary);
}

.text-primary {
    color: var(--text-primary);
}

.nev-text-secondary {
    color: var(--Nav-text-secondary);
}

.nav-bg-base {
    background: var(--Nav-bg-base);
}

.nav-border-primary {
    border-color: var(--Nav-border-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.Hero-hover-text:hover {
    color: var(--Hero-Hover-text);
}

.Hero-hover-text {
    color: var(--Hero-Hover-text);
}

.Hero-secondary-text {
    color: var(--Hero-secondary-text);
}

.Hero-title-text {
    color: var(--hero-title-text);
}

.Hero-secondary-button {
    background: var(--hero-secondary-button);
}

.bg-secondary {
    background: var(--bg-secondary);
}