@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --btn-primary: #f97316;
    --Nav-bg-primary: #000000;
    --Nav-bg-secondary: #ffffff;
    --Nav-bg-base: #f3f4f6;
    --hover-secondary: #393c42;
    --text-primary: #ffffff;
    --text-secondary: #000000;
    --Nav-text-secondary: #f97316;
    --Nav-border-primary: #212327;
    --Hero-Hover-text: #ffffff;
    --Hero-primary-text: #6b7280;
    ;
    --Hero-secondary-text: #9ca3af;
    --hero-title-text: #4B5563;
    --bg-secondary: #f3f4f6;
    --hero-hover-button: rgba(255, 136, 0, 0.5);
    --hero-secondary-button: rgba(255, 255, 255, 0.15);
    --featured-bg-gradient: linear-gradient(to bottom right, #f8fafc, #f3f4f6);
    --text-Title-secondary: linear-gradient(to right, #111827, #1f2937, #4b5563);
    --discount-bg: linear-gradient(135deg, #0f172a, #581c87, #0f172a);
    --discount-bg-secondary: linear-gradient(90deg, #fb923c, #f87171);
    --Button-bg-secondary:linear-gradient(90deg, #f97316, #ef4444);
    --discount-text-primary:#fb923c;
    --discount-text-secondary: #9ca3af;
    --badge1-bg:linear-gradient(to right, #f97316, #ef4444);
    --badge2-bg:linear-gradient(to right, #a855f7, #ec4899);
    --badge3-bg:linear-gradient(to right, #ef4444, #f97316);
    --badge4-bg:linear-gradient(to right, #22c55e, #10b981);
    --badge5-bg:linear-gradient(to right, #3b82f6, #06b6d4);
    --title-text-gradient: linear-gradient(to right, #f97316, #ef4444);
    --image-primary-bg : linear-gradient(to bottom right, #f9fafb, #f3f4f6);
    --tranding-secondry-text :  #111827;
    --tranding-primary-text :  #4b5563;
    --tranding-base-text :  #6b7280;
    --Collections-primary-bg: #eab308;
    --Footer-border: #e5e7eb;
    --footer-text-primary: #4b5563;
    --footer-text-secondary: #111827 ;


}


.footer-text-secondary {
    color: var(--footer-text-secondary);}
.footer-text-primary {
    color: var(--footer-text-primary);}
.footer-border {
    border-color: var(--Footer-border);}

.collections-primary-bg {
    background: var(--Collections-primary-bg);}

.treanding-base-text {
    color: var(--tranding-base-text);}

.treanding-primary-text {
    color: var(--tranding-primary-text);}

.tranding-secondry-text {
    color: var(--tranding-secondry-text);}

.img-primary-bg {
    background: var(--image-primary-bg);}


.title-bg-gradient {
    background: var(--title-text-gradient);
}
.title_text-gradient {
    background: var(--title-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.badge5-bg {
    background: var(--badge5-bg);}

.badge4-bg {
    background: var(--badge4-bg);}
  
.badge3-bg {
    background: var(--badge3-bg);}
.badge2-bg {
    background: var(--badge2-bg);}
.badge1-bg {
    background: var(--badge1-bg);}
.discount-text-secondary {
    color: var(--discount-text-secondary);}
.discount-text-primary {
    color: var(--discount-text-primary);
}
.Button-bg-secondary {
    background: var(--Button-bg-secondary);}
.discount-bg-secondary {
    background: var(--discount-bg-secondary);
    -webkit-background-clip: text;
}

.discount-banner-bg {
    background: var(--discount-bg);
}

.secondary-title {
    background: var(--text-Title-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured-section-bg {
    background: var(--featured-bg-gradient);
}

.btn-primary {
    background: var(--btn-primary);
}

.hover-button:hover {
    color: var(--btn-primary);
}

.hover-secondary:hover {
    background-color: var(--hover-secondary);
}

.bg-primary {
    background: var(--Nav-bg-primary);
}

.bg-secondary {
    background: var(--Nav-bg-secondary);
}

.text-primary {
    color: var(--text-primary);
}

.nev-text-secondary {
    color: var(--Nav-text-secondary);
}

.nav-bg-base {
    background: var(--Nav-bg-base);
}

.nav-border-primary {
    border-color: var(--Nav-border-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.Hero-hover-text:hover {
    color: var(--Hero-Hover-text);
}

.Hero-hover-text {
    color: var(--Hero-Hover-text);
}

.Hero-secondary-text {
    color: var(--Hero-secondary-text);
}

.Hero-title-text {
    color: var(--hero-title-text);
}

.Hero-secondary-button {
    background: var(--hero-secondary-button);
}

.bg-secondary {
    background: var(--bg-secondary);
}

.Nav-bg-secondary {
    background: var(--Nav-bg-secondary);
}